@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
$primary-color: #5932ea;
$bg-prime: #fff;
$bg-second: #fafbff;
$text-color: #000;
$text-menu: #9197b3;
$text-main: #292d32;
