@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $text-color;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $bg-second;
}

.dashboard {
  width: 100%;
  height: 1198px;
  background: $bg-second;

  display: flex;
  flex-direction: row;
  gap: 71px;
}

//  -----Logo-----
.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;

  &__title {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
  }

  &__title::after {
    content: "v.01";
    position: relative;
    left: 4px;

    font-weight: 500;
    font-size: 10px;
    letter-spacing: -0.01em;
    color: #838383;
  }
}
//  -----Sidebar-----

.sidebar {
  min-width: 306px;
  height: 100%;
  padding-left: 28px;

  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  background: $bg-prime;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 50;

  //-----Sidebar-----

  &__header {
    display: flex;
    flex-direction: column;

    gap: 52px;
  }

  &__logo {
    margin-top: 37px;
  }

  &__open {
    display: none;
  }
  // -----Menu-----

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 18px;

    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 11px 8px 11px 11px;
    border-radius: 8px;
    width: 250px;
    height: 46px;
  }

  &__icon-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: $text-menu;

    text-decoration: none;
  }

  //-----User-----

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 12px;

    margin-bottom: 76px;
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
  }

  &__role {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;

    margin-top: -1px;
  }
}

// -----Content------

.header {
  margin-top: 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: $text-color;
  }

  &__hand {
    position: relative;
    top: 2px;
  }

  &__icon-wrapper::after {
    content: ",";
  }
}

// -----Main-----

.dashboard {
  &__content {
    display: flex;
    flex-direction: column;

    gap: 52px;
  }

  &__mobile-menu {
    display: none;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 30px 44px 40px 38px;

    width: 968px;

    border-radius: 30px;
    background-color: $bg-prime;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

  &__main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__main-title {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.01em;
    color: $text-color;
  }

  &__main-link {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #16c098;

    text-decoration: none;
  }

  // -----Search-----

  &__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 9px;
    padding-left: 8px;
    padding-top: 5px;

    background: #f9fbff;
    border-radius: 10px;

    width: 216px;
    height: 38px;
  }

  &__search-input {
    outline: none;
    border: none;
    width: 80%;

    padding-left: 8px;

    background: #f9fbff;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.01em;
    font-family: "Poppins", sans-serif;

    &::placeholder {
      color: #b5b7c0;
    }
  }

  // -----Table-----
  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    height: 587px;

    td {
      padding: 24px 0;
    }

    th {
      position: relative;
      padding-bottom: 14px;

      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #b5b7c0;
    }

    td {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: $text-main;
    }

    th:nth-child(2),
    td:nth-child(2) {
      position: relative;
      left: 36px;
      width: 120px;
    }

    th:nth-child(3),
    td:nth-child(3) {
      position: relative;
      left: 47px;
      width: 180px;
    }

    th:nth-child(4),
    td:nth-child(4) {
      position: relative;
      left: 23px;
      width: 220px;
    }

    th:nth-child(5),
    td:nth-child(5) {
      position: relative;
      left: 10px;
      width: 150px;
    }

    th:nth-child(6) {
      position: relative;
      left: 12.5px;
    }

    td:nth-child(6) {
      padding: 0;
      width: 80px;
    }

    // -----td Status-----

    &--active {
      background: rgba(22, 192, 152, 0.38);
      border: 1px solid #00b087;
      border-radius: 4px;
      padding: 3px 17px;
      width: 100%;
      height: 29px;

      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #008767;
    }

    &--inactive {
      background: #ffc5c5;
      border: 1px solid #df0404;
      border-radius: 4px;
      padding: 3px 11px;
      width: 100%;
      height: 29px;

      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.01em;
      color: #df0404;
    }

    // -----Unerdlines-----
    thead tr::after {
      content: "";
      position: absolute;
      left: -38px;
      bottom: 0;
      height: 1px;
      width: calc(100% + 44px + 38px);
      background-color: #eee;
    }

    tr {
      position: relative;
    }

    tbody tr::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #eee;
    }
  }

  // -----Footer-----

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__data {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  &__footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    list-style: none;
  }

  &__footer-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 6px 9px;
    width: 25px;
    height: 24px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #404b52;
  }

  &__footer-button:hover {
    background: #5932ea;
    color: #fff;
  }

  &__footer-dots {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #000;

    padding-top: 4px;
  }
}

// ----Menu hover-----

@media (hover: hover) {
  .sidebar {
    &__item:hover {
      background-color: $primary-color;
    }

    &__item:hover &__link {
      color: #fff;
    }

    &__item:hover &__icon-stroke path {
      stroke: #fff;
    }

    &__item:hover &__icon-fill path {
      fill: #fff;
    }

    &__item:hover &__icon .stroke {
      stroke: #fff;
    }

    &__item:hover &__icon .fill {
      fill: #fff;
    }

    &__item:hover &__arrow path {
      stroke: #fff;
    }
  }
}

// -----No hover-----
@media (hover: none) {
  .sidebar {
    &__item:active {
      background-color: $primary-color;
    }

    &__item:active &__link {
      color: #fff;
    }

    &__item:active &__icon-stroke path {
      stroke: #fff;
    }

    &__item:active &__icon-fill path {
      fill: #fff;
    }

    &__item:active &__icon .stroke {
      stroke: #fff;
    }

    &__item:active &__icon .fill {
      fill: #fff;
    }

    &__item:active &__arrow path {
      stroke: #fff;
    }
  }
}

// -----Media-----

@media (min-width: 1441px) {
  .dashboard {
    gap: 0px;

    &__content {
      margin: 0 auto;
    }
  }
}

@media (max-width: 1400px) {
  .dashboard {
    gap: 0px;

    &__content {
      margin: 0 auto;
      position: relative;
      left: 50px;
    }
  }

  // -----Mini sidebar-----

  .sidebar {
    position: absolute;
    height: 1198px;
    z-index: 1;

    &__open {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      right: -12.5px;
      top: 43px;

      width: 25px;
      height: 25px;
      border-radius: 50%;
      box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 1);
      background: #5932ea;

      font-size: 18px;
      color: #fff;
    }

    &__open.toggle {
      transform: scaleX(-1);
    }
  }

  .sidebar.toggle {
    min-width: 100px;
    width: 100px;

    // -----Open button -----

    &.toggle {
      .sidebar__item {
        width: 46px;
      }

      .sidebar__link {
        display: none;
      }

      .sidebar__arrow {
        display: none;
      }

      .sidebar__name,
      .sidebar__role {
        display: none;
      }
    }

    &.toggle {
      .logo {
        &__title {
          display: none;
        }

        &__img {
          margin-left: 4px;
        }
      }
    }
  }

  // -----Modal shadow-----

  .modal-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1; /* Помещаем под все остальные элементы */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1150px) {
  .dashboard {
    &__mobile-menu {
      display: block;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__mobile-menu svg {
      width: 60px;
    }

    &__content {
      margin: 0 auto;
      position: static;
    }
    &__header {
      margin-left: 38px;
    }
  }

  .sidebar {
    display: none;

    &__open {
      display: none;
    }
  }

  .mobile {
    display: flex;
  }
}

@media (max-width: 980px) {
  .dashboard {
    width: 100%;

    &__content {
      margin: 0 auto;
      width: 100%;
    }

    &__header {
      margin-left: 38px;
      margin-right: 38px;
    }

    &__main {
      width: 100%;
    }

    &__table-wrapper {
      width: 100%;
      overflow-x: scroll;
    }

    &__table {
      min-width: 900px;
    }

    &__data {
      font-size: 10px;
    }
  }
}

@media (max-width: 480px) {
  .dashboard {
    &__data {
      font-size: 8px;
    }

    &__footer-list {
      gap: 5px;
    }

    &__footer-button {
      width: 20px;
      height: 20px;

      font-size: 10px;
    }
  }
}
